body {
    display: flex;
    margin: 0 auto;
    background-color: #1f1f1f;
}
h1, div {
    font-size: 100px;
    color: white;
}
.warning {
    background-color: red;
    border-radius: 50%;
    padding: 70px;
    margin: 10px;
    height: 50px;
    width: 50px;
    text-align: center;

}
div {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
